In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv(r"C:\Users\Usman\Downloads\page2\canada_per_capita_income.csv")

In [3]:
df.head(5)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [4]:
X=df[["year"]]
X.head(2)

   year
0  1970
1  1971

In [5]:
y=df[["per capita income (US$)"]]
y.head(2)

   per capita income (US$)
0              3399.299037
1              3768.297935

In [6]:
"""from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)"""

'from sklearn.model_selection import train_test_split\nX_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)'

In [7]:
'''from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)'''

'from sklearn.linear_model import LinearRegression\nclf = LinearRegression()\nclf.fit(X_train, y_train)'

In [8]:
x_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [9]:
model=LinearRegression()

In [10]:
model.fit(x_train, y_train)

LinearRegression()

In [15]:
model.predict(X_test)

array([[ 1399.03461745],
       [34024.90533901],
       [13110.8856457 ],
       [21476.49352302],
       [15620.5680089 ],
       [ 5581.83855611],
       [ 8928.08170704],
       [13947.44643343],
       [27332.41903715],
       [ 3072.15619292],
       [28168.97982488],
       [20639.93273529]])

In [17]:
y_test

    per capita income (US$)
2               4251.175484
41             42334.711210
16             11482.891530
26             16699.826680
19             16426.725480
7               7100.126170
11              9434.390652
17             12974.806620
33             22739.426280
4               5576.514583
34             25719.147150
25             16369.317250

In [18]:
model.score(X_test,y_test)

0.8714855765540733